@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway-VariableFont_wght.woff), url(../fonts/Raleway-Italic-VariableFont_wght.woff);
}

*{
    font-family: "Raleway", "sans-serif";
}

body{
    min-height: 100vh;
    margin: 0;
}

header{
    width: 100%;
}

main{
    display: flex;
    overflow: hidden;
}

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1160px;
    min-height: 100vh;
    margin: 0em auto;
    background-color: #782221;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Lato", "serif";
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

p, ul{
    font-weight: 700;
}